.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.planning-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 25rem;
  padding-bottom: 1rem;
}

.planning-list.custom-scrollbar {
  max-height: 25rem;
  overflow-y: auto;
}
