@tailwind base;
@tailwind components;
@tailwind utilities;

:root {  
  /* Textos */
  --text-title: #333333;
  --text-subtitle: #a59e9e;

  --text-primary: #191919;
  --text-secondary: #595a5b;
  --text-tertiary: #9ca3af;


  /* Colors */
  --green: #10b981; /* green-500 */
  --red: #f43f5e; /* red-500 */
  --yellow: #f59e0b; /* yellow-400 */


  /* Colors background */
  --background-page: #e2e2e2;
  --background-section: #fff;
  --background-card: #eee;
  --background-card-hover: #fff;
  --background-layout: #1f1f1f;


  /* buttons */
  --button-primary: #8c84dc;
  --button-primary-hover: #655eb8;
  --button-primary-active: #4f45b9;
  --button-primary-text: #E1E0EA;



  --button-disabled: #d1d5db;
  --button-disabled-text: #9ca3af;



  --button-accept: #20d86d;
  --button-accept-hover: #10bb57;
  --button-accept-active: #0c873f;
  --button-accept-text: #0B2545;



  --button-cancel: #eb1796;
  --button-cancel-hover: #d60c85;
  --button-cancel-active: #99005c;
  --button-cancel-text: #0B2545;



  /* Espaciados */
  --spacing-big: 1rem;
  --spacing-medium: 0.75rem;
  --spacing-small: 0.5rem;

  /* Durations */
  --duration-slow: 500ms;
  --duration-standard: 300ms;
  --duration-fast: 200ms;
}
