@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors background */
  --background-page: #f5f5f5;
  --section-dashboard: #97c2dd;

  /* Textos */
  --text-title: #333333;
  --text-subtitle: #666666;
  --text-primary: #191919;
  --text-secondary: #999999;

  --text-hover: #4f46e5;

  /* Buttons */
  --button-primary: #726bf0;
  --button-primary-hover: #4338ca;
  --button-primary-active: #3730a3;

  --button-secondary: #f5f5f5;
  --button-secondary-hover: #e5e5e5;
  --button-secondary-active: #d4d4d4;


  /* Espaciados */
  --spacing-big: 1rem;
  --spacing-medium: 0.75rem;
  --spacing-small: 0.5rem;

  /* Durations */
  --duration-slow: 500ms;
  --duration-standard: 300ms;
  --duration-fast: 200ms;
}
