@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors background */
  --background-page: #b3b3b3;
  --section-dashboard: #fff;

  --background-card: #eee;
  --background-card-hover: #fff;

  --background-layout: #1a1f2e;


  /* Textos */
  --text-title: #333333;
  --text-subtitle: #a59e9e;
  --text-primary: #191919;
  --text-secondary: #595a5b;

  --red: #ef4444; /* red-500 */
  --orange: #f59e0b; /* amber-500 / orange */
  --yellow: #fbbf24; /* yellow-400 (usarlo con cuidado) */
  --green: #10b981; /* green-500 */
  --green-strong: #064a34; /* green-600 (para 100%) */

  --blue: #3b82f6; /* blue-500 */
  --indigo: #6366f1; /* indigo-500 */
  --purple: #9333ea; /* purple-500 */



  /* Textos 
  --text-title: 4xl;
  --text-subtitle: 2xl;
  --text-primary: lg;
  --text-secondary: base;
  */

  /* Buttons */
  --button-primary: #4f46e5;
  --button-primary-hover: #655eb8;
  --button-primary-active: #4f45b9;

  --button-primary-text: #f5f4ff;
  --button-primary-text-hover: #f5f4ff;
  --button-primary-text-active: #eae6ff;

  --button-secondary: #f7faff;
  --button-secondary-hover: #eef6ff;
  --button-secondary-active: #e1eeff;

  --button-secondary-text: #0b2545;
  --button-secondary-text-hover: #063718;
  --button-secondary-text-active: #04172a;

  /* Espaciados */
  --spacing-big: 1rem;
  --spacing-medium: 0.75rem;
  --spacing-small: 0.5rem;

  /* Durations */
  --duration-slow: 500ms;
  --duration-standard: 300ms;
  --duration-fast: 200ms;
}
